Package: dcevm-7-jre
Source: dcevm-7
Version: 7u60b09-1.0
Architecture: amd64
Maintainer: Gonzalo Matheu <gonzalommj@gmail.com>
Installed-Size: 56274
Pre-Depends: multiarch-support
Depends: ca-certificates-java, tzdata-java, java-common (>= 0.28), libcups2 (>= 1.4.0), liblcms2-2 (>= 2.2+git20110628), libjpeg8 (>= 8c), libnss3-1d (>= 3.12.9+ckbi-1.82-0ubuntu4), libc6 (>= 2.14), libfontconfig1 (>= 2.9.0), libfreetype6 (>= 2.2.1), libgcc1 (>= 1:4.1.1), libglib2.0-0 (>= 2.26.0), libkrb5-3 (>= 1.6.dfsg.2), libpcsclite1 (>= 1.3.0), libstdc++6 (>= 4.1.1), zlib1g (>= 1:1.1.4)
Suggests: icedtea-7-jre-jamvm (= 7u65-2.5.2-3~14.04), libnss-mdns, sun-java6-fonts, fonts-dejavu-extra, fonts-ipafont-gothic, fonts-ipafont-mincho, ttf-wqy-microhei | ttf-wqy-zenhei, ttf-indic-fonts-core, ttf-telugu-fonts, ttf-oriya-fonts, ttf-kannada-fonts, ttf-bengali-fonts
Conflicts: icedtea-netx (<< 1.1.1-2~)
Breaks: icedtea-netx (<< 1.4-2)
Provides: java-runtime-headless, java2-runtime-headless, java5-runtime-headless, java6-runtime-headless, java7-runtime-headless
Section: java
Priority: optional
Multi-Arch: same
Homepage: https://dcevm.github.io/
Description: DCEVM (Dynamic Code Evolution VM) Runtime (JRE)
 Patched OpenJDK that enhances class redefinition mechanism
