
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Eclipse Luna
Exec=/usr/local/bin/eclipse-luna
Icon=/opt/eclipse-luna/icon.xpm
Comment=Eclipse Luna
Categories=Development;IDE;
Terminal=false
StartupNotify=false
