
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Eclipse Mars
Exec=/usr/local/bin/eclipse-mars
Icon=/opt/eclipse-mars/icon.xpm
Comment=Eclipse Mars
Categories=Development;IDE;
Terminal=false
StartupNotify=false
