
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=IntelliJ Idea 15 Community
Exec=/usr/local/bin/ideaIC-15
Icon=/opt/ideaIC-15/bin/idea.png
Comment=IntelliJ Idea 15
Categories=Development;IDE;
Terminal=false
StartupNotify=false
GenericName=Idea 15
